extends layout.pug

block content
    - var values = reviews
    div.homepage-navigation
        if values.length < 1
            h1 Welcome to my app
            h5 Please allow location for this site to get started
            button#get-location Allow location
    include ./filter    
    div.grid-container.homepage-div
        each val in values
            include ./cards/reviewcard