extends layout.pug

block content
    div.homepage-navigation
        if reviews.length < 1
            h1 We were not able to find what you are looking for
            h5 Please allow location for this site to get started
            h5 Or select one of the categories below
            button#get-location Allow location
    include ./filter_search
    div.grid-container.homepage-div
        each val in reviews
            include ./cards/reviewcard