extends layout.pug

block content
    - var values = reviews
    div.homepage-navigation
        button Categories 
        button#get-location Reviews of locations close to you

    div.grid-container.homepage-div
        each val in values
            include ./cards/reviewcard