extends layout

block content
  div.grid-container
    div.presentation-div
      img(src="/images/birds.png", alt="").bird-img
      h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempora
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
      h2 App Name
      a.btn.orange-button(href='/reviewApp') Try it for free

    div.image-div
      img.home-page-img(src='/images/Making-Ratings-and-Reviews-better-for-users-developers-v2.png')
      
  div.desgined-by-div
    p Designed by 
    p Lorem ipsum
  div.steps-container#about
    div.grid-container
      div.step-1 
        img(src="images/fxjvq2bj7mt51.webp", alt="").steps-imgs
        br
        img(src="images/Group 8.png", alt="")
        h3 Log in
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
      div.step-2  
        img(src="images/review_background-84c797c00d9c21f1b4d45f4e88c7da53.jpg", alt="").steps-imgs
        br
        img(src="images/Group 9.png", alt="")
        h3 Add review
        p Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
      div.step-3 
        img(src="images/performance-review-examples-blog-header.jpg", alt="").steps-imgs
        br
        img(src="images/Group 10.png", alt="")
        h3 View Reviews
        p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
  div.grid-container.features-div#features
    div.title-features
      h1 Features
    div.img-features
      img(src="images/Group 13.png", alt="")
    div.text1-features
      h3 Learn more about future destinations
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. Suspendisse sed dolor a mauris iaculis consequat ullamcorper eget nibh. Aenean blandit, purus et gravida ullamcorper, tortor mi iaculis eros, a gravida nisl libero in arcu. Aenean convallis ante velit, eget mattis libero dictum sed. Vivamus sit amet dui non velit ultricies dictum vel cursus libero. Ut et lobortis dolor.
      h3 Connect with other people 
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. onec vestibulum risus vel risus cursus, ut ultrices orci aliquet. Sed et nibh nec dui lobortis feugiat nec et dui. Nulla eget sagittis enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras quis nibh tempus,
      h3 Connect with other people 
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. onec vestibulum risus vel risus cursus, ut ultrices orci aliquet. Sed et nibh nec dui lobortis feugiat nec et dui. Nulla eget sagittis enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras quis nibh tempus,
    div.text2-features
      h3 View different opinions
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. Aliquam consectetur massa in justo laoreet ornare. Aliquam convallis sed lectus non mollis. Pellentesque ornare metus et libero pulvinar tempor. Curabitur sollicitudin volutpat enim. In dapibus laoreet dictum
      h3 Plan your future trip
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. 
      h3 Connect with other people 
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. onec vestibulum risus vel risus cursus, ut ultrices orci aliquet. Sed et nibh nec dui lobortis feugiat nec et dui. Nulla eget sagittis enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras quis nibh tempus,
  div.grid-container.faq-div
    div.header-faq.faq-margins
      h1 FAQ
      br
      h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. 
    div#faq.faq-margins
      img(src="images/Path 1481 2.png", alt="")
      h3.h3-faq Lorem ipsum dolor sit amet,
      h6#1.faq-hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. onec vestibulum risus vel risus cursus, ut ultrices orci aliquet. Sed et nibh nec dui lobortis feugiat nec et dui. Nulla eget sagittis enim. 
    div#faq.faq-margins
      img(src="images/Path 1481 2.png", alt="")
      h3.h3-faq Lorem ipsum dolor sit amet,
      h6#2.faq-hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. onec vestibulum risus vel risus cursus, ut ultrices orci aliquet. Sed et nibh nec dui lobortis feugiat nec et dui. Nulla eget sagittis enim. 
    div#faq.faq-margins
      img(src="images/Path 1481 2.png", alt="")
      h3.h3-faq Lorem ipsum dolor sit amet,
      h6#3.faq-hidden  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. onec vestibulum risus vel risus cursus, ut ultrices orci aliquet. Sed et nibh nec dui lobortis feugiat nec et dui. Nulla eget sagittis enim. 
    div#faq.faq-margins
      img(src="images/Path 1481 2.png", alt="")
      h3.h3-faq Lorem ipsum dolor sit amet,
      h6#4.faq-hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin sapien et ex sagittis eleifend ut sed mi. Proin vel turpis porta, efficitur velit sit amet, placerat nunc. Nullam semper accumsan ornare. onec vestibulum risus vel risus cursus, ut ultrices orci aliquet. Sed et nibh nec dui lobortis feugiat nec et dui. Nulla eget sagittis enim. 
    



