body {
    font-family: 'Circular Std';
    font-style: normal;
    background-color: #fcd9b1;
    display: block;
    justify-content: center;
}

/* ------------------NAVBAR-------------------------- */
.topnav {
    background-color: #a13f36;
    padding: 1%;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* in front of all other elements */
    z-index: 99;
}
.topnav a {
    color: black;
    font-weight: 600;
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 700;
    line-height: 80%;
    align-items: center;
    letter-spacing: -0.04em;
    padding: 12px;
    width: 150px;
    height: 40px;
}
.topnav a:hover {
    background-color: #cb9378;
    color: white;
}
.topnav a.active {
    color: black;
}
.topnav .icon {
    display: none;
}
.second-navbar {
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 99;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .second-navbar {
        display:block;
        text-align: left;
    }
}
.profile-img {
    border-radius: 40px;
    max-width: 15%;
    margin-left: 3%;
    margin-right: 3%;
}
span {
    font-size: 20px;
    font-weight: 600;
}
@media screen  and (max-width: 1200px){
    .profile-div {
        display: none;
    }
}


/* --------HOMEPAGE------- */
.grid-container {
    display: grid;
    column-gap: 5%;
}

.presentation-div {
    margin-top: 10%;
    margin-left: 15%;
    grid-column-start: 1;
    grid-column-end: 1;
}

.bird-img {
    margin-bottom: 150px;
    margin-left: 50%;
}

.image-div{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    margin:3%;
}
@media screen and (max-width:1100px) {
    .image-div{
        text-align: center;
        grid-row-start:2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .presentation-div {
        margin-left:10%;
        margin-right:10%;
    }
}

.home-page-img {
    margin-top: 100px;
    border-radius: 40px;
    height: auto;
    max-width: 100%;
}


/* ------------------ABOUT------------------- */
.steps-container{
    font-size:larger;
    padding-top: 2%;
    background-image: url("/images/Ellipse 4.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left:10%;
    margin-right:10%;
    margin-top:100px;
}
.desgined-by-div{
    margin-top: 4%;
    text-align: center;
}
@media screen and (min-width:900px) {
    .step-1{
        text-align: center;
        grid-row-start:2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .step-2{
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .step-3{
        text-align: center;
        grid-row-start:2;
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

@media screen and (max-width:900px){
    .step1{
        grid-row-start:1;
        grid-row-end:2;
        grid-column-start:1;
        grid-column-end: 2;
    }
    .step-2{
        grid-row-start:2;
        grid-row-end:3;
        grid-column-start:1;
        grid-column-end: 2;

    }
    .step-3{
        grid-row-start:3;
        grid-row-end:4;
        grid-column-start:1;
        grid-column-end: 2;

    }
}
.orange-button {
    border-radius: 20px;
    background-color: #cb9378;
    font-weight: 700;
    font-size: 20px;
    line-height: 80%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding: 18px;
    width: 230px;
}

.steps-imgs {
    max-width: 60%;
    border-radius: 5%;

}

/* -------------------------FEATURES---------------------- */

.features-div {
    color: white;
    background-color: #cb9378;
}
.title-features {
    margin-left:10%;
    margin-bottom: 25%;
    margin-top:5%;
}
.img-features{
    width: 100%;
    height: auto;
}
@media screen and (min-width:1200px){
    .text1-features {
        margin-left:10%;
        grid-row-start:2;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 10%;
    
    }   
    .text2-features {
        grid-row-start:2;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .div-img-features{
        margin-top:20%;
        grid-row-start:1;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}

@media screen and (max-width:1200px){
    .text1-features{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left:5%;
        margin-right: 5%;

    }
    .text2-features {
        margin-left:5%;
        margin-right: 5%;
        grid-row-start:3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .title-features {
        grid-row-start:1;
        grid-column-start: 1;
        grid-column-end:2;
        text-align: center;
    }
}


/* -----------------------------------FAQ----------------------------- */

.faq-div {
    display: grid;
    /* background-color: #F5C9B0; */
    padding-top: 70px;
}
.faq-margins {
    border-radius: 10px;
    margin-left:15%;
    margin-right:50%;
    margin-bottom:4%;
}
#faq {
    padding: 2%;
    margin-right:15%;
}
.faq-show {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    background-color: #a13f36;;
}
.text-show {
    margin-left:5%;
    margin-top:2%;
    display:block;
    font-weight: 450;
    font-size: 20px;
    line-height: 150%;
}
.faq-hidden {
    display:none;

}
.animate {
    animation: fadeIn 700ms ease-out backwards;
  }
  
@keyframes fadeIn {
    from {
        transform: translateY(0px);
        opacity: 0;
    }
    to  {
        transform: translateY(0px);
        opacity: 1;
    }
}
.header-faq {
    grid-row-start:1;

}
#faq-1 {
    grid-row-start: 2;
}
#faq-2 {
    grid-row-start: 3;

}
#faq-3 {
    grid-row-start: 4;

}
#faq-4 {
    grid-row-start: 5;

}
.h3-faq {
    display: inline;
    margin-left:5%;
}


/* --------------FOOTER--------------------- */
.newsletter-and-contact-div {
    background-color: #a13f36;
    padding-top:10%;
}
.clouds {
    width: 100%;
    height: auto;
}
.cloud1-div {
    grid-row-start:1;
    grid-column-start:1;
}
.form-div {
    grid-row-start:1;
    text-align: center;
    padding-left: 28%;
    padding-right: 28%;
    grid-column-start:2;
    grid-column-end:3;
    color: #FFFFFF;
    width: 100%;


}
.cloud2-div{
    grid-row-start:1;
    grid-column-start:3;
    grid-column-end:4;
    padding-bottom:70%;

}
.cloud2 {
    margin-right:0;
}

.newsletter-header {
    font-weight: 700;
    font-size: 2vw;
    line-height: 90%;
    text-align: center;
}
.newsletter-text {
    font-weight: 450;
    font-size: 1.5vw;
    line-height: 150%;
}
.newsletter-input {
    height: 3.6vw;
    display: inline;
    width:70%;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    border-radius:12px 0 0 12px;    
    line-height: 1.5vw;
}
.newsletter-input::placeholder {
    font-weight: 450;
    font-size: 1vw;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.7;
}
.newsletter-btn {
    height: 3.6vw;
    display: inline;
    background: #FFFFFF;
    border-radius: 0px 20px 20px 0px;
    font-weight: 700;
    font-size: 1.2vw;
    vertical-align: middle;
    color: #a13f36;
}

@media screen and  (max-width:1650px){
    .newsletter-input{
        border-radius: 20px;
    }
    .newsletter-btn{
        border-radius: 12px;
    }
}

@media screen and (max-width:900px) {
    .newsletter-header {
        font-weight: 700;
        font-size: 4vw;
        line-height: 90%;
        text-align: center;
    }
    .newsletter-text {
        font-weight: 450;
        font-size: 2vw;
        line-height: 150%;
    }

}
.contact-div {
    text-align: center;
    padding-top: 10%;
    background-color: #fcd9b1;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:2;
}

.app-logo {
    font-size: 2vw;

    grid-column-start:1;
    grid-column-end:2;

}
.bottom-menu-div {
    grid-column-start:2;
}
.contact-info {
    grid-column-start: 3;
    grid-column-end:4;
}
.bottom-menu {
    font-weight: 450;
    font-size: 2vw;
    line-height: 180%;
    color: #000000;
}
hr {
    grid-column-start:1;
    grid-column-end:4;
    width: auto;
}
.page-end {
    padding-top: 15%;
    grid-row-start:3;
    grid-column-start: 2;
    font-weight: 450;
    font-size: 1.5vw;
    line-height: 150%;
    color: rgba(39, 49, 80, 0.5);
}
.follow-me-img {
    width:10%;
    height: 15%;
    margin-right:10%;
    margin-top:15%;
}

.contact-info a {
    text-decoration: none;
}

/* ---------------------HOMEPAGE---------------------------- */
.homepage-div {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
}
.card-container {
    margin-bottom: 7%;
    background-color: #fdfff1;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 12px 4px #F5C9B0;; 
    box-shadow: 4px 4px 12px 4px #F5C9B0;;
    padding: 3%;
}
.card-container:hover {
    transform: scale(1.07);
}

.h3-inline {
    display: inline;
}

.reviewerProfilePic{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* SEARCH-FILTER */

.search-filter-div {
    padding: 3%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.search-div{
    text-align: center;
    width: 100%;

}
.categories-div{
    display: inline-flex;
    width: 70%;
    justify-content: space-around;
}
.categories-div a {
    display: block;
    width: 4vw;
    height:auto;
}
.categories-div img {
    width: 100%;
    height: auto;
}
.search-category-div {
    text-align: center;
    width: 100%;
}
.search-div .orange-button {
    width: 5%;
}
.search-input {
    padding: 0.1%;
    background-color: #cb9378;
    font-weight: 500;
    font-size: 1.2vw;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    width: 15%;
    border-radius: 20px;
}
.search-btn {
    margin-top:5px;
    border-radius: 20px;
    background-color: #cb9378;
    font-weight: 5000;
    font-size: 1.2vw;
    line-height: 40%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding: 14px;
}

/* ADD REVIEW */
input[type="range"]{
    width: 30vw;
}

#map {
    height: 30vw;
    width: 80%;
    margin:10%;
}

.location-container {
    width: 80%;
    margin-left: 10%;
    margin-top:5%;
}